proizvodi.dtd

<!ELEMENT VebProdavnica (Proizvod)+>
<!ELEMENT Proizvod (Kategorija, Cena, TekstOglasa, Oznaka+, Akcija)>
<!ELEMENT Kategorija (#PCDATA)>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT TekstOglasa (#CDATA)>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT Akcija (#PCDATA)>
<!ATTLIST Cena valuta "RSD">
<!ATTLIST Akcija cena CDATA #IMPLIED>
<!ATTLIST Akcija cena datumIsteka CDATA #IMPLIED>